:root{
  --red: #bf3636;
  --orange: #d04936;
  --yellow: #ffcc14;
  --green: #5a5a23;
  --blue: #303464;
  --pink: #fe4b7a;
  --purple: #741a60;
  --brown: #40130e;
  --light-gray: #eaeaea;
  --med-gray: #555;
  --dark-gray: #222;
  --white: #fff;
  color: #222;
}

body{
  background-color: var(--light-gray);
  font-family: Raleway, sans-serif;
  line-height: 1.3;
}

main{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 2em auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

h1{
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0 0.25em 0;
  grid-column: 1/-1;
  text-align: center;
}

.instr{
  padding: 0 1rem;
  width: calc(100% - 2rem);
  max-width: 75ch;
  margin: 0 auto;
  grid-column: 1/-1;
}

strong{
  font-weight: 900;
}

h2{
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

section{
  width: calc(90% - 1em);
  max-width: 300px;
  min-height: 300px;
  margin: 0 auto;
  padding: 1em;
  background-color: white;
  box-shadow: 5px 5px 5px #aaa;
}

/* ADD YOUR STYLES BELOW THIS LINE AND DO NOT EDIT THE STYLES ABOVE */


#section1 a{
    background-color: var(--blue);
    border-radius: 5px;
    color: var(--white);
    display: flex;
    margin: 20px 50px;
    padding: 20px 10px 20px 50px;
    text-decoration: none;
    box-shadow: 5px 5px 15px 2px #222;
    font-weight: bold;
}

form {
    display: grid;
    grid-gap: 10px;
    margin-top: 10px;
}

input[type="text"], input[type="email"] {
    padding-top: 10px;
    border: 1px solid var(--med-gray);
    border-radius: 2px;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: var(--purple);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 15px 2px #222;
}

#section3 img {
    padding-left: 35px;
    padding-top: 15px;
    width: 230px;
    max-width: 100%;
}

#section3 p{
    font-size: 1.1rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

#section3 span {
    font-weight:bolder;
    color: var(--purple);
}

